access-control.name=ranger
ranger.service.name=bank-lakehouse-trino
ranger.plugin.config.resource=/etc/trino/ranger/ranger-trino-security.xml,/etc/trino/ranger/ranger-trino-audit.xml,/etc/trino/ranger/ranger-policymgr-ssl.xml
